body {
  margin: 0 auto;
}

.cacher {
  display: none;
}

#playerForm {
  height: 700px;
  width: 1200px;
  background-image: url(../img/selectionPerso.png);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}

.img {
  height: 200px;
  width: 140px;
  border: solid 1px black;
  margin-left: 30px;
}

.img.W {
  background-image: url(../img/WarriorIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.M {
  background-image: url(../img/MageIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.R {
  background-image: url(../img/RogueIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.A {
  background-image: url(../img/ArcherIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

.choiceClass1 {
  margin-left: 30px;
}

.choiceClass {
  margin-left: 110px;
}

#choiceClassAll {
  position: absolute;
  margin-top: 15%;
  margin-left: 19%;
}

#imgClass {
  display: flex;
}

#choiceClass {
  display: flex;
}

#pseudo {
  position: absolute;
  margin-top: 38%;
  margin-left: 42%;
}

#sendPlayer {
  position: absolute;
  margin-top: 43%;
  margin-left: 70%;
}

#entre2Combat {
  margin: 0 auto;
  margin-top: 30%;
  margin-left: 45%;
}
