body {
  margin: 0 auto;
}

.cacher {
  display: none;
}

#playerForm {
  height: 700px;
  width: 1200px;
  background-image: url(../img/selectionPerso.png);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}

.img {
  height: 200px;
  width: 140px;
  border: solid 1px black;
  margin-left: 30px;
  border-radius: 10px;
}

.img.W {
  background-image: url(../img/WarriorIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.M {
  background-image: url(../img/MageIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.R {
  background-image: url(../img/RogueIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.img.A {
  background-image: url(../img/ArcherIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

.choiceClass1 {
  margin-left: 30px;
}

.choiceClass {
  margin-left: 110px;
}

#choiceClassAll {
  position: absolute;
  margin-top: 15%;
  margin-left: 19%;
}

#imgClass {
  display: flex;
}

#choiceClass {
  display: flex;
}

#pseudo {
  position: absolute;
  margin-top: 38%;
  margin-left: 42%;
}

#sendPlayer {
  position: absolute;
  margin-top: 43%;
  margin-left: 70%;
  height: 70px;
  width: 100px;
  background-image: url(../img/Play.png);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 100% 100%;
}

.IMG {
  height: 200px;
  width: 140px;
  border: solid 1px black;
  margin-bottom: 5px;
  border-radius: 10px;
}

.Warrior {
  background-image: url(../img/WarriorIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.Mage {
  background-image: url(../img/MageIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.Rogue {
  background-image: url(../img/RogueIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 101% 101%;
}

.Archer {
  background-image: url(../img/ArcherIMG.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

.Glout {
  background-image: url(../img/Glout.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

.Groco {
  background-image: url(../img/Groco.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

.Tankse {
  background-image: url(../img/Tankse2.webp);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}
.Noxpul {
  background-image: url(../img/Noxpul.jpg);
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: 103% 118%;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-image: url(../img/Start.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#formSave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.combat {
  display: flex;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inShop {
  border: solid black 2px;
  position: absolute;
  margin-left: 20px;
}

#cardLoad {
  float: left;
  width: 200px;
  height: 300px;
  border: solid 1px black;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 10px;
}

#loadSave {
  width: 200px;
  height: 150px;
  background-image: url(../img/Load.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 120px;
}

#cardNew {
  width: 200px;
  height: 300px;
  border: solid 1px black;
  overflow: hidden;
  border-radius: 10px;
}

#newGame {
  width: 200px;
  height: 150px;
  background-image: url(../img/New.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 190px;
}

#victoireCombat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#defaiteCombat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#terminerCombat {
  width: 150px;
  height: 100px;
  background-image: url(../img/Finish.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
}

#nouvellePartie {
  width: 150px;
  height: 100px;
  background-image: url(../img/Finish.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
}
